
<% if user_signed_in? %>
 <%else%>
 <p><%= link_to "Ingresar", new_user_session_path %><p>
<p><%= link_to "Crear Cuenta", new_user_registration_path %><p>
<% end %>

<h2>INSTRUMENTOS</h2>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to(category.name, category) %></li>
  <% end %>
</ul>

